/* Глобальные стили
   ========================================================================== */


/**
 * 1. Переменные
 * 2. Шрифты, главный фон, сброс некоторых отступов
 * 3. Заголовки
 * 4. Стили кнопок
 * 5. Служебныe стили "visually-hidden", "container", "clearfix"
 * 6. Подключение стилей блоков (БЭМ)
 */


/* 1. Переменные
   ========================================================================== */

$desktop-width: 1200px;
$tablet-width: 768px;
$mobile-width: 320px;

$bg-lightblue: #81b3d2;
$bg-lightgray: #eee;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* 2. Шрифты, главный фон, сброс некоторых отступов
   ========================================================================== */

html, body, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

/* 3. Заголовки
   ========================================================================== */

.introduction__heading, .heading3 { //h1, h3
  color: black;
  font-size: 18px;
  text-align: center;
}

.heading2 {
  color: black;
  font-size: 21px;
}

.photo__title { //h4
  color: black;
  font-size: 14px;
}


@media (min-width: $tablet-width) {
  .introduction__heading {
    font-size: 30px;
  }

  .introduction__heading--index, .heading3 {
    font-size: 21px;
  }

  .heading2 {
    font-size: 30px;
  }
}

/* 4. Стили кнопок
   ========================================================================== */

.button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 58px;
  color: white;
  fill: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background-color: $bg-lightblue;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);

}

.button:active svg {
  opacity: 0.3;
}

.button:disabled {
  background-color: #e5e5e5;
}


/* 5. Служебныe стили "container", "visually-hidden", "clearfix", "wrapper"
   ========================================================================== */

.container {
  margin: 0 auto;
  width: $mobile-width;
  background: white;
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
  box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.15);
}

/* 6. Подключение стилей блоков (БЭМ)
   ========================================================================== */

@import "1.1_navigation.sass";
@import "1.2_banner.sass";
@import "1.3_introduction.sass";
@import "2.1_city.sass";
@import "2.2_services.sass";
@import "2.3_sight.sass";
@import "2.4_advantages.sass";
@import "3.1_booking.sass";
@import "3.2_map.sass";
@import "4.1_photo.sass";
@import "4.2_video.sass";
@import "5.0_form.sass";
@import "5.1_introduce.sass";
@import "5.2_feedback.sass";
@import "5.3_impression.sass";
@import "5.4_visited-sights.sass";
@import "5.5_emotions.sass";
@import "5.6_sending.sass";
@import "6.1_modal-success.sass";
@import "6.2_modal-failure.sass";
@import "10_footer.sass";
